/*
 * Default CSS theme for parce.
 *
 * Name "default"
 * Also serves as template for other themes.
 */


/*
 * Defaults for a parce DIV/window etc.
 */

.parce {
    background: white;
    color: black;
    font: monospace 12pt;
}

.parce::selection {
    background: royalblue;
    color: white;
}




/*
 * inheriting from Name
 */

.parce
.name {
    color: #B7594F;
}

.parce
.attribute {
    color: #0456d5;
}

.parce
.builtin {
    color: #C542B7;
}

.parce
.class {
    color: #0d00aa;
}

.parce
.constant {
    color: #4C9DF2;
}

.parce
.decorator {
    color: #24AB25;
}

.parce
.exception {
    color: #F76;
    font-weight: 600;
}

.parce
.function {
    font-weight: bold;
    color: #0000c0;
}

.parce
.identifier {
    font-weight: 600;
    color: #AE4514;
}

.parce
.property {
    font-weight: 600;
    color: #AF463A;
}

.parce
.tag {
    color: #0f00bb;
    font-weight: 600;
}

.parce
.variable {
    color: #00f;
}


/*
 * inheriting from Delimiter
 */

.parce
.operator {
    color: #592200;
}


/*
 * inheriting from Literal
 */

.parce
.boolean {
    font-weight: 600;
    color: #08f;
}

.parce
.char {
    font-weight: 600;
    color: #a00;
}

.parce
.number {
    color: #b91;
}

.parce
.string {
    color: #c00;
}

.parce
.verbatim {
    color: #444;
}

.parce
.literal.color {
    color: #F93;
}

.parce
.literal.email {
    color: #0D56D8;
}

.parce
.literal.url {
    color: #0D56D8;
    text-decoration: dotted underline;
}


/*
 * Base style classes
 */

.parce
.whitespace {

}

.parce
.text {

}

.parce
.comment {
    font-family: serif;
    font-style: italic;
    color: #666;
}

.parce
.delimiter {
    font-weight: 600;   /* almost bold */
    color: #555;
}

.parce
.error {
    color: red;
    text-decoration: underline;
    text-decoration-color: red;
}

.parce
.escape {
    color: #008080;
    font-weight: 600;   /* almost bold */
}

.parce
.keyword {
    font-weight: bold;
    color: black;
}

.parce
.literal {

}

.parce
.pseudo {
    color: #0FD25C;
}

.parce
.template {

}

.parce
.alert {
    color: #c23;
    font-weight: bold;
}
