/*
 * Template CSS theme for parce.
 *
 * Name: terminal
 *
 * A dark theme using only the 16 CSS 1 ansi terminal colors
 */


/*
 * Default style for a parce DIV or text editing window etc.
 */

/* Default */
.parce {
    color: white;
    background: black;
    font-family: monospace;
}

/* The line the cursor is in */
.parce.current-line {

}

/* The current line when the window has focus */
.parce.current-line:focus {

}

/* Selected text */
.parce::selection,
.parce ::selection {
    color: black;
    background: silver;
}

/* Selected text when the window has focus */
.parce::selection:focus,
.parce ::selection:focus {

}

/* The current line when text widget is disabled
 * (probably unused normally)
 */
.parce.current-line:disabled {

}

.parce::selection:disabled {

}


/*
 * Styles for some editor regions/features
 */
.parce.leading-whitespace {

}

.parce.trailing-whitespace {

}

.parce.eol-marker {

}

.parce.margin-folding {
    color: gray;
    background: black;
}

.parce.margin-linenumbers {
    color: gray;
    background: black;
}

.parce.mark-line {
    background: navy;
}

.parce.mark-search {
    background: green;
}

.parce.mark-error {
    background: maroon;
}

.parce.brace-match {
    background: blue;
}

.parce.brace-nomatch {
    background: red;
}


/*
 * Styles for the base types
 */
.parce
.text {

}

.parce
.whitespace {

}

.parce
.keyword {
    font-weight: bold;
}

.parce
.delimiter {
    color: silver;
}

.parce
.name {

}

.parce
.literal {
    color: olive;
}

.parce
.comment {
    color: gray;
}

/*
 * Styles for the mixin types
 */
.parce
.alert {
    background: maroon;
    color: silver;
    font-weight: bold;
}

.parce
.important {
    font-weight: bold;
}

.parce
.unimportant {
    color: gray;
}

.parce
.special {
    color: aqua;
}

.parce
.definition {
    font-weight: bold;
}

.parce
.invalid {
    text-decoration: underline red solid;
}

.parce
.escape {
    color: fuchsia;
    font-weight: bold;
}

.parce
.template {

}

.parce
.pseudo {

}

.parce
.preprocessed {

}

.parce
.inserted {
    color: lime;
}

.parce
.deleted {
    color: red;
}

.parce
.quoted {

}

.parce
.bold {
    font-weight: bold;
}

.parce
.emphasized {
    font-style: italic;
}

/* (Start, End, Indent and Dedent don't need styling) */
.parce
.start {

}

.parce
.end {

}

.parce
.indent {

}

.parce
.dedent {

}


/*
 * Styles for Name derivatives
 */
.parce
.attribute {
    color: teal;
}

.parce
.builtin {
    color: lime;
}

.parce
.class {
    color: aqua;
}

.parce
.command {

}

.parce
.constant {
    color: purple;
    font-weight: bold;
}

.parce
.decorator {
    color: blue;
    font-weight: bold;
}

.parce
.entity {

}

.parce
.exception {
    color: red;
    font-weight: bold;
}

.parce
.function {
    color: olive;
}

.parce
.identifier {

}

.parce
.macro {

}

.parce
.markup {
    color: olive;
}

.parce
.method {

}

.parce
.namespace {

}

.parce
.object {
    color: fuchsia;
}

.parce
.property {

}

.parce
.symbol {

}

.parce
.tag {
    color: teal;
    font-weight: bold;
}

.parce
.type {

}

.parce
.variable {
    color: teal;
}


/*
 * Styles for Literal derivatives
 */
.parce
.data {

}

.parce
.verbatim {

}

.parce
.string {
    color: red;
}

.parce
.number {
    color: yellow;
}

.parce
.fraction {

}

.parce
.boolean {

}

.parce
.color {

}

.parce
.email {
    text-decoration: underline gray solid;
}

.parce
.url {
    text-decoration: underline gray solid;
}

.parce
.timestamp {

}

.parce
.input {

}

.parce
.output {

}

.parce
.error {
    color: red;
}

.parce
.prompt {

}

/*
 * String styles
 */
.parce
.string.double {

}

.parce
.string.single {

}

.parce
.string.escape {
    color: fuchsia;
}

/*
 * Styles for Delimiter derivatives
 */
.parce
.connection {

}

.parce
.direction {

}

.parce
.operator {

}

.parce
.assignment {

}

.parce
.bracket {
    font-weight: bold;
}

.parce
.modechange {

}

.parce
.quote {

}

.parce
.separator {

}

